body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

p, ul li {line-height: 1.6;}
h1 {
  font-size: 24px;
  font-weight: 200;
  color: #333;
}

img {
 max-width: 100%; /* This ensures the image won't exceed its original size */
 max-height: 14rem;   /* This maintains the image's aspect ratio */
} 

input {
     border-color: #fff;
    color: #00008B;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    text-transform: none; 
}

.main-contain {
  height: calc(100vh - 15.4vw);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 84vw;

}

.hero {
  position: relative;
  background-image: url('Vector.png'); /* Replace with the actual path to your image */
  background-size: cover; /* This makes sure the image covers the entire container */
  background-position: center; /* Center the background image */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.hero subtitle {
    position: absolute;
    bottom: 1em;
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 0 95%;
    background-repeat: repeat-x;
    background-size: 100% 2%;
    display: inline;
    font-size: 5vw;
    line-height: 1.2;
    margin: 0;
    font-weight: bold;
    white-space: pre-line;
    color: #fff;
}

select, button {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultContainer {
  font-size: 16px;
  color: #333;
  margin-top: 1em;
}

#resultContainer {
  font-size: 20px;
  color: #333;
  margin-top: 10px;
}

#selectedName {
  font-size: 24px;
  font-weight: bold;
}

#variable strong {
  color: #007bff; /* Dark blue color */
  font-weight: bold;
}